$dark-text-color: #1d3557
$btn-base-color: #e63946
$light-text-color: #ffffff

body
    padding: 0
    margin: 0
    transition: 1s
    font-family: 'Montserrat Alternates', sans-serif

.background-image-wrapper
    margin: 0
    padding: 0
    width: 100%
    height: 100vh
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url(Images/background1.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    .image-nav-wrapper
        display: flex
        max-width: 100%
        flex-direction: row
        justify-content: space-around
        .logo-wrapper
            display: block
            .logo-text
                font-size: 2.5rem
                font-weight: 400
                color: $btn-base-color

    .nav-bar-wrapper
        display: flex
        justify-content: center
        align-items: center
        .nav-bar-custom
            display: flex
            flex-direction: row
            list-style: none
            li
                text-align: center
                padding: 10px 0 10px 30px
                position: relative
                a
                    text-decoration: none
                    color: $light-text-color
                    font-size: 1.2rem
                    font-family: 'Montserrat Alternates', sans-serif
                    font-weight: 400
                a:hover
                    color: $btn-base-color
                    transition: 0.3s
            li::after
                content: ''
                position: absolute
                bottom: -0.01rem
                width: 0
                border-radius: 1rem
                height: 8px
                background-color: $btn-base-color
                left: 70%
                transform: translate(-70%)
                transition: 0.3s
            li:hover::after
                width: 8px

.responsive-nav-toggle
    display: none

.center-name-text
    display: flex
    flex-direction: column
    justify-content: center
    height: 87.5vh
    align-items: center
    .name-text-wrapper
        text-align: center
        h1
            color: $light-text-color
            font-size: 4.5rem
    .typed-data1
        display: block
        margin-top: 0
        font-size: 2.5rem
        color: $light-text-color
.main
    font-family: 'Roboto', sans-serif
    font-weight: 300
    .row
        margin: 3% 0
        justify-content: space-around
        .box-border
            border-radius: 4px
            box-shadow: 0 0 2px #89898999,0 0 5px #89898999
            .row
                .left-side
                    color: $dark-text-color
                    .row
                        .img-wrapper
                            margin-bottom: 7%
                            img
                                border-radius: 4px
                        .details-wrapper
                            p
                                font-size: 16px
                            .detail-title
                                font-weight: 400
                                font-size: 17px
                                color: $dark-text-color
                    .row
                        h5
                            font-weight: 400
                        .skills
                            margin-top: 1%
                            p
                                font-size: 0.75rem
                            .progress
                                height: 0.5rem
                                margin-top: -2%
                                margin-bottom: 2%
                                padding: 0
                                border-radius: 10px
                                .progress-bar
                                    border-radius: 10px

                .right-side
                    h1
                        position: relative
                        font-weight: 300
                    h1::after
                        content: ''
                        width: 22%
                        height: 3px
                        border-radius: 2px
                        position: absolute
                        transform: translate(10%)
                        left: 0
                        bottom: 0
                        background-color: $btn-base-color

.center-header
    margin-top: 4%
    text-align: center
    position: relative
    h1
        font-weight: 300
    p::after
        content: ''
        width: 22%
        height: 3px
        border-radius: 2px
        position: absolute
        left: 50%
        transform: translate(-50%)
        bottom: 0
        background-color: $btn-base-color

.col-md-4
    margin-bottom: 1.7%

.service-box,.portfolio-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 30px
    border-radius: 4px
    box-shadow: 0 0 2px #89898999,0 0 5px #89898999

    .service-icon
        text-align: center
        margin-top: 2%
        margin-left: 2%
        margin-right: 2%
        margin-bottom: 10%
        .outer-circle
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            width: 110px
            height: 110px
            border-radius: 60px
            background-color: $dark-text-color
            .inner-circle
                display: flex
                justify-content: center
                align-items: center
                width: 100px
                height: 100px
                border-radius: 50px
                background-color: $light-text-color
            .inner-circle:hover
                background-color: $dark-text-color
                transition: 0.5s
        .outer-circle:hover
            background-color: white
            box-shadow: 0 0 2px #89898999,0 0 5px #89898999
            transition: 0.5s
    .service-text
        font-weight: 300
        text-align: center
        h4
            font-weight: 400

.portfolio-box
    padding: 0.2rem
    .portfolio-icon,.portfolio-icon-2
        margin: 0
        padding: 0
        width: 100%
        height: 13rem
        background-image: url(Images/Interior-design.png)
        background-size: cover
        background-repeat: no-repeat
        background-position: center
    .portfolio-text
        margin: 1rem 0 1rem 0
        h4
            font-weight: 300
    .portfolio-icon-2
        background-image: url(Images/portfolio.png)

// contact form

.row.contact-form-wrapper
    display: flex
    justify-content: space-around
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url(Images/background1.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    
    margin-bottom: 0
    .col-sm-12
        .container
            box-shadow: 0 0 8px $btn-base-color,0 0 8px $btn-base-color
            background-color: white
            border: none
            border-radius: 4px

.left-side-contact,.right-side-contact
    display: flex
    .col-md-11
        padding: 4%

.heading-wrapper
    margin: 4% 0
    h3
        position: relative
        font-weight: 300
        &::after
            content: ''
            width: 12%
            height: 3px
            border-radius: 2px
            position: absolute
            transform: translate(10%)
            left: 0
            bottom: 0
            background-color: $btn-base-color

.form-wrapper
    margin: 1% 0 5%
.form-flex
    display: flex
    flex-direction: column
    input,textarea
        font-weight: 300
        border-radius: 3px
        border: none
        box-shadow: 0 0 2px #89898999,0 0 5px #89898999
        margin: 2% 0
        font-size: 1.2rem
        padding: 0.5rem
    .submit-button
        padding: 12px 10px
        border: none
        background-color: $btn-base-color
        border-radius: 25px
        color: white
        // font-size: 1rem 
        width: 70%
.right-side-contact
    .col-md-12
        .form-wrapper
            .content
                ul
                    list-style: none
                    padding: 0
                    margin: 0
                .address-details
                    li
                        span
                            margin-right: 10px
                            font-size: 1.1rem
                .social-links
                    margin-top: 3%
                    display: flex
                    flex-direction: row
                    li
                        margin: 0 4% 0 0
                        .bi-facebook,.bi-instagram,.bi-linkedin
                            color: black
                        .bi-facebook
                            color: #4267B2
                        .bi-instagram
                            color: #E1306C
                        .bi-linkedin
                            color: #0077b5
                

// Responsive screens
@media screen and (max-width:1200px)
    .left-side,.right-side
        width: 100%

@media screen and (max-width:900px)

    .responsive-nav-toggle
        display: block
    .hide-on-responsive
        display: none
    .nav-bar-custom
        li::after
            display: none

    .nav-bar-custom.responsive
        display: block
        right: 12px
        li
            display: block
            position: absolute
            top: 12px
            right: 12px
    .center-name-text
        height: 77.5vh
        padding: 0 0.7rem
        .name-text-wrapper
            text-align: center
            h1
                color: $light-text-color
                font-size: 3rem

        .typed-data1
            display: block
            margin-top: 0
            font-size: 1.5rem
            color: $light-text-color

    .left-side,.right-side
        width: 100%
